.not-visible {
	display: none;
}

.dz {
	border: dashed !important;
	border-color: #ccc !important;
	border-radius: 10px !important;
}

.dz:hover {
	background-color: aliceblue !important;
}

.carousel-item {
	object-fit: cover !important;
	width: 100% !important;
}